<%- include('../partials/head.ejs'); %>
<%- include('../partials/nav.ejs'); %>

<main role="main" class="container">
  <h3 class="color-red uppercase">About</h3>
  <section class="jumbotron p4">
    <p class="lead">This app uses <a href="https://www.npmjs.com/package/@vitalets/google-translate-api">@vitalets/google-translate-api</a> - a free API for Google Translate in Node.js</p>
  </section>
</main>

<%- include('../partials/footer.ejs'); %>